<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<div th:if="${loggedIn}">
  <p>로그인되었습니다. (사용자명: <span th:text="${username}"></span>)</p>
  <form method="POST" action="/logout">
    <button type="submit">로그아웃</button>
  </form>
  <br/>
  <a th:href="@{/signup}">회원가입</a>
</div>
<div th:unless="${loggedIn}">
  <p>로그인되어 있지 않습니다.</p>
  <a href="/login">로그인</a>
  <br/>
  <a th:href="@{/signup}">회원가입</a>
</div>

</body>
</html>
