<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="post" action="/login">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="userName" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
  <div th:if="${param.error != null}">
    <p>아이디 또는 비밀번호가 올바르지 않습니다.</p>
  </div>
  <div th:if="${param.logout != null}">
    <p>로그아웃 되었습니다.</p>
  </div>
</form>
</body>
</html>
