<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 class="text-center mb-4">Login</h1>

            <!-- 에러 메시지 출력 영역 -->
            <div id="error-messages"></div>

            <form action="/loginProc" id="login-form" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" name="username" type="text">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password">
                </div>

                <button class="btn btn-primary btn-block" onclick="submitForm(event)">Login</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
    function submitForm(event) {
        event.preventDefault(); // 기본 동작 중지

        // form 데이터를 직렬화하여 AJAX 요청
        $.ajax({
            type: "POST",
            url: "/loginProc",
            data: $('#login-form').serialize(),
            success: function (data) {
                // 서버 응답 성공 시
                location.href = '/main'; // 로그인 성공 후 페이지 이동
            },
            error: function (xhr, status, error) {
                // 서버 응답 실패 시
                var errorMessages = xhr.responseJSON; // JSON 형태로 에러 메시지를 받음
                var $errorDiv = $('#error-messages');
                $errorDiv.empty(); // 기존 메시지 삭제
                for (var key in errorMessages) {
                    var errorMessage = errorMessages[key];
                    $errorDiv.append('<p class="alert alert-danger">' + errorMessage + '</p>'); // 에러 메시지 출력
                }
            }
        });
    }
</script>
</body>
</html>