<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<form th:action="@{/signup}" th:object="${userDto}" method="post">
    <div>
        <label for="userName">Username:</label>
        <input type="text" id="userName" name="userName" th:field="*{userName}" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" required />
    </div>
    <button type="submit">Sign Up</button>
</form>
</body>
</html>
